body {
    margin: 0px;
    width: 100vw;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navbar-container {
    display: flex;
    align-items: center;
    background-color: #1F2937;
    padding: 8px 13%;
}

.navbar-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.navbar-links {
    margin-left: auto;
}

.navbar-links ul {
    display: flex;
    list-style-type: none;
    gap: 8px;
}

.navbar-links a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

